/*
COLORS
RED: #ed7669
GREEN: #7cbe7f
BLUE: #85c9db
YELLOW: #f6c78f
ORANGE: #ed8330
GREY: #7d797b

/*
            FONTFACE
*/

/*-------------------------------- BLACK */
@font-face {
    font-family: 'hurme_geometric_sans_2black';
    src: url('../font/hurme_black/hurmegeometricsans2_black.woff') format('woff2'),
         url('../font/hurme_black/hurmegeometricsans2_black.woff2') format('woff');
       
    font-weight: normal;
    font-style: normal;
}
/* -------------------------------- BOLD */
@font-face {
    font-family: 'hurme_geometric_sans_2bold';
    src: url('../font/hurme_bold/hurmegeometricsans2_bold-webfont.woff2') format('woff2'),
         url('../font/hurme_bold/hurmegeometricsans2_bold-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}
/* -------------------------------- SEMI BOLD */
@font-face {
    font-family: 'hurme_geometric_sans_2SBd';
    src: url('../font/hurme_semiBold/hurmegeometricsans2_semibold-webfont.woff2') format('woff2'),
         url('../font/hurme_semiBold/hurmegeometricsans2_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* -------------------------------- REGULAR */
@font-face {
    font-family: 'hurme_geometric_sans_2regular';
    src: url('../font/hurme_regular/hurmegeometricsans2-webfont.woff2') format('woff2'),
         url('../font/hurme_regular/hurmegeometricsans2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* -------------------------------- LIGHT */
@font-face {
    font-family: 'hurme_geometric_sans_2light';
    src: url('../font/hurme_light/hurmegeometricsans2_light-webfont.woff2') format('woff2'),
         url('../font/hurme_light/hurmegeometricsans2_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
-------------------------------
        LOGIN REGISTER
-------------------------------
*/

.tekstRegister {
    color: #85c9db;
    margin-top: 2%;
    margin-bottom: 5%;
}
#exampleInputEmail1 {
    width: 60%;
}
#exampleInput {
    width: 60%;
}
#exampleInputPassword1 {
    width: 60%;
}
#exampleInputPasswordConfirmation1 {
    width: 60%;
}

#register {
    background-color: #85c9db;
    border: none;
    margin-top: 5%;
    margin-bottom: 1%;
}
#register:hover {
    background-color:#9dbfcc;
}
a{
    margin-top: 4%;
    color: #ed7669;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #7d797b !important;
}
/*
-------------------------------
        HOME: NAV
-------------------------------
*/

.bg-light {
    background-color: #f0f0f0 !important;
}

.brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: 4rem;
    font-size: 1.4em;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
    color: #7d797b!important;
    font-family: 'hurme_geometric_sans_2black' !important;
}
.brand:hover {
    text-decoration: none;
    color: #85c9db !important;
}
.navbar-light .navbar-toggler {
    font-size: 1.4em;
    border: none;
    
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237, 131, 48, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color:#ed7669;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:  #85c9db !important;
}
.navbar-light .navbar-nav .nav-link {
    font-family: 'hurme_geometric_sans_2regular';
    color:#7d797b !important;

}
.navbar-right {
    margin-left: 70%;
    margin-top: 40px;
}
/*
-------------------------------
        HOME: LEFT
-------------------------------
*/
.row {
    width: 100%;
    float: left;
}
.left {
    width: 40%;
}
.username{
    font-family: 'hurme_geometric_sans_2SBd';
    color: #ed7669;
    font-size: 1.3em;
    width: 70%;
    margin: 20% auto 20% auto; 
    display: block;
    text-align: center;
    
} 
.ListBtn {
        width: 80%;
        background-color:#ed7669;
        border:none;
        margin-left: 10%;
}
.ListBtn:hover {
    background-color:#ed7669;
}
li {
    list-style-type: none;
}

.list {
    margin-top: 10%;
    
}
.deleteList {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    color: #000;
    text-shadow: none;
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 20%;
}
.listAlign {
    float: right;
}

/*
-------------------------------
        HOME: RIGHT
-------------------------------
*/
.right {
    width: 60%;
    border-color: #7d797b;
    border-right-width: 7px;
    height: auto;
}
.media-body {
    color:#7d797b;
}
.commentPost {
    width: 80%;
    margin-left: 4%;
}
.postBtn {
        background-color:#ed7669;
        border:none;
        margin-left: 4%;
}
.tagList {
   color: #85c9db !important;
   border-color: #85c9db !important;
} 
.tagList:hover {
    background-color: #85c9db;
}
/*
-------------------------------
        TASK POPUP
-------------------------------
*/
label {
    color: #7d797b !important;
}
.exampleInput {
    color: #7d797b !important;
}
.taskBtn {
    background-color: #ed7669 !important;
    border: none;
}
.modal-dialog .modal-dialog-centered {
    font-family: 'hurme_geometric_sans_2light';
}
.modal-title {
    font-family: 'hurme_geometric_sans_2bold';
    color: #ed7669;
}
.btn-close {
    background-color: #7d797b !important;
}
